//
//	The default options should be appropriate for most cases.  
//

params {
	// Paths
	RefGen 		= false
	RefGTF		= false
	InDir 		= false
	SP1Dir 	= "./01_Star_Pass1"					
	SP2Dir 	= "./02_Star_Pass2"					


	// Concurrency options - PBS only permits up to 50 jobs so number of process instances needs to be limited
	// You can increase the number of Boot_Forks to slightly increase speed if you have a lot of input fastas
	SP1_Forks 	= 9
	SP2_Forks 	= 9


	// Default workflow options
	Chroms 				= ""
	Mode  				= "PE"
	help 				= false
	version 			= false
	Skip_STARPass1		= false
	Skip_STARPass2		= false


	//
	// Paramaters for each process
	//

	// STARPass1 options
	SP1_threads 		= 8									// Max 8 for throughput node, 32 for general node
	SP1_memory 			= 32 								// Number of Gb for HPC slave job
	SP1_walltime 		= 72
	SP1_IndexNbases 	= 11								// genomeSAindexNbases parameter for indexing references
	SP1_Overhang 		= 149								// sjdbOverhang parameter for alignment pass 1
	SP1_ref_args		= ""								// Optional arguments for runMode genomeGenerate
	SP1_aln_args		= ""								// Optional arguments for STAR alignment pass 1

	// STARPass2 options
	SP2_threads 		= 8									// Max 8 for throughput node, 32 for general node
	SP2_memory 			= 32 								// Number of Gb for HPC slave job
	SP2_walltime 		= 72
	SP2_IndexNbases 	= 11								// genomeSAindexNbases parameter for indexing references
	SP2_ref_args		= ""								// Optional arguments for runMode genomeGenerate
	SP2_aln_args		= ""								// Optional arguments for STAR alignment pass 2
}
